/* 
    Document   : bestel
    Created on : 2-apr-2013, 19:26:03
    Author     : Zoofa-Design
    Description:
        Purpose of the stylesheet follows.
*/


fieldset{
	padding: 24px;
}
#topbar{
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	vertical-align: middle;
	font-weight: 300;
	
	background: #000000 url('img/layout/topbar-bg.jpg') repeat-x;
	color: #ffffff;
}
#topbar.fixed{
	left: 0;
    position: fixed;
    top: 0;
    transition: background 0s ease 0s;
    width: 100%;
    z-index: 9999;
}
	#topbar a{
		color: #ffffff;
		font-weight: 700;
	}
	#topbar .logo-icon-topbar{
		margin-right: 15px;
		margin-top: -4px;
	}
		#topbar .logo-icon-topbar img{
			height: 24px;
			width: auto;
		}
	#topbar .btn-topbar{
		width: 232px;
		margin-top: 10px;
		text-align: left;
		font-family: "Ubuntu", sans-serif;
		font-weight: 500;
	}
		#topbar .btn-topbar .arrow{
			font-size: 24px;
		}
	
#header, #mobile-header{
	height: 352px;
	padding: 24px 0;
	margin-bottom: 24px;
	
	background-color: #c91258;
	
	background-image: url("../img/header-topbar-shadow.png"),
					  url("../img/header-mainmenu-shadow.png"),
					  url("../img/header-bg.jpg");
					  
	background-repeat: no-repeat,
	  				   no-repeat,
	  				   repeat;
	  				   
	background-position: top center,
						 bottom center,
						 top left;
	
}
#header.clean, #mobile-header.clean{
	height: 300px;
}
	#header.clean h1, #mobile-header h1{
		display: block;
		margin: 16px auto;
		width: 320px;
		text-align: center;
		font-size: 38px;
		line-height: 60px;
	
		color: #ffffff;
	}
	#header #slider, #mobile-header #slider{
		width: 530px;
		padding: 24px;
		position: relative;
		
		background: url("../img/slider-bg.png") no-repeat;
	}	
		#header #slider img.slide, #mobile-header #slider img.slide{
			width: 480px;
			height: 240px;
			
			border: 5px solid #ffffff;
		}
		#header #slider #slider-overlap, #mobile-header #slider #slider-overlap{
			position: absolute;
			top: 200px;
			left: 0px;
			z-index:999;
		}
	#header #slider-info, #mobile-header #slider-info{
		width: 400px;
		text-align: center;
	}
		#header #slider-info img, #mobile-header #slider-info img{
			
		}
		#header #slider-info img.logo, #mobile-header #slider-info img.logo{
			width: 360px;
			margin: 12px auto 0;
		}
		#header #slider-info .btn-slider, #mobile-header #slider-info .btn-slider{
			margin: 24px auto;
			padding-top: 18px;
			padding-bottom: 18px;
			padding-left: 18px;
			width: 370px;
			text-align: left;
		}
			#header #slider-info .btn-slider .arrow, #mobile-header #slider-info .btn-slider .arrow{
				margin-top: 10px;
				font-size: 60px;
			}
			#header #slider-info .btn-slider h3, #mobile-header #slider-info .btn-slider h3{
				font-size: 25px;
				line-height: 25px;
				margin: 0 0 8px;
				font-weight: 600;
			}
			#header #slider-info .btn-slider h4, #mobile-header #slider-info .btn-slider h4{
				font-size: 16.2px;
				line-height: 16.2px;
				font-weight: 300;
			}
/*		Normal Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

@media only screen and (min-width: 992px) and (max-width: 1069px) {

}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 481px) {
}
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	.container {
	
	}
	
}