/* 
    Document   : bestel
    Created on : 2-apr-2013, 19:26:03
    Author     : Zoofa-Design
    Description:
        Purpose of the stylesheet follows.
*/


fieldset{
	height: 500px;
	padding: 24px;
}
